// custom fonts
@font-face {
  font-family: 'Helvetica';
  src: url('/assets/fonts/Helvetica.ttf') format('truetype');
  /*src: url('/assets/fonts/Helvetica.woff') format('woff');*/
}

@font-face {
  font-family: 'Helvetica Light';
  src: url('/assets/fonts/Helvetica-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Helvetica Bold';
  src: url('/assets/fonts/Helvetica-Bold.ttf') format('truetype');
}

$red: rgba(241,100,93,1);

$white: #ffffff;
$black: #000;

// Jacobs Silver
$silver: #E6E6E6;

// Jacobs Blue
$blue: #07457B;

// Our own orange
$orange: #BE3B00;


$red: #EF5350; // Google Red 400
$turquoise: #42A5F5; // Google Blue 400
$green: #9CCC65; // Google Light Green 400


// TODO: Use bold fonts for bold faces
$source: 'Helvetica', 'Source Sans Pro', sans-serif;
$droid: 'Helvetica','Lato','Droid Sans', sans-serif;
