---
layout: 'compress'
---

<!DOCTYPE html lang="en">
<!--<pre>
{% include assets_ascii.txt %}
</pre>-->
<!-- the PRE tags are needed to prevent the minifier from removing the newlines in our artwork -->
<html>
  <head lang="en">
    <title>{{ site.title }}</title>

    {% include assets_meta.html %}
    {% include assets_resources.html %}
  </head>
<body>

  <a id="mlh-trust-badge" style="display:block;max-width:100px;min-width:60px;position:fixed;right:50px;top:0;width:10%;z-index:10000" href="https://mlh.io/seasons/eu-2018/events?utm_source=eu-2018&utm_medium=TrustBadge&utm_campaign=eu-2018&utm_content=blue" target="_blank"><img src="https://s3.amazonaws.com/logged-assets/trust-badge/2018/blue.svg" alt="Major League Hacking 2017 Hackathon Season" style="width:100%"></a>

  <!-- Header and Table of Contents -->
  <a name="splash"></a>
  <section id="splash">

    <div class="splash-container">
        <div class="splash-banner">
        <div>
            <img src="assets/images/jacobshack-2017.jpg"/>
        </div>
        <!--<h2 class="subtitle">November 18<sup>th</sup> - 19<sup>th</sup>, 2017<br><a id="goto-footer">Bremen, Germany</a></h2>
      --></div>
    </div>

    <div id="navbar" class="ui">
      <div class="ui three item menu borderless" style="border-radius:0">
        <a id="goto-about" class="item">About</a>
        <a id="goto-faq" class="item">FAQ</a>
        <a id="goto-reg-now" class="item">Register</a>
        <a id="goto-team" class="item">Team</a>
      </div>
    </div>
  </section>

  <!-- About JacobsHack! -->
  <a name="about"></a>
  <section id="about" class="droid ui page grid center aligned padded stackable">
    <div class="source-bold title six wide column">
      <h2>jacobsHack?</h2>
    </div>
    <div class="ten wide column">
      <p class="droid">
        jacobsHack! is Germany's largest student-run hackathon where student
        hackers from all over the world come together to create and collaborate
        on disruptive projects over the course of 24 hours filled with
        programming, tech talks, games, and nerf gun battles.
      </p>
    </div>
  </section>

  <!-- FAQ -->
  <a name="faq"></a>
  <section id="faq" class="source ui page grid left aligned padded stackable">
      <div class="source-bold title twelve wide column">
        <h2 class="mobile">FAQ</h2>
        <h2 class="computer only">Frequently Asked Questions</h2>
      </div>
      <div class="row">
        {% for entry in site.data.faq %}
          <div class="five wide column">
            <h4 class="question">
              {{ entry.question }}<i class="angle down icon"></i>
            </h4>
            <p class="answer">
              {{ entry.answer }}
            </p>
          </div>
        {% endfor %}
    </div>
  </section>

  <!-- Registration -->
  <a name="reg-now"></a>
  <section id="reg-now" class="droid ui page grid center aligned padded stackable">
    <div class="reg-now-form-cont source-bold title ten wide column">
      <h2>Register for jacobsHack!</h2>
      <br>

      <!-- <form action="https://jacobshack.us8.list-manage.com/subscribe/post-json?u=98f396a0be77e1f91596a7696&amp;id=55558cc4a0&c=?" method="GET" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate="novalidate" role="form" class="ui form">
          <div class="field">
            <label for="mce-EMAIL" class="hidden" style="color:#ffffff">Email</label>
            <input id="mce-EMAIL" name="EMAIL" placeholder="mail@your.university" type="email" class="form-control" />
            <div id="reg-email-label" style="display: none;" class="ui pointing red basic label">
              Something went wrong! Please try again.
            </div>
          </div>

          <input class="hidden" type="text" name="b_98f396a0be77e1f91596a7696_55558cc4a0" tabindex="-1" value="" />

          <button id="reg-button" type="submit" class="ui button">Subscribe for Updates</button>
      </form> -->
      <a id="reg-button" class="source-bold ui button" href="https://jacobshack.typeform.com/to/MWCQ1n" disabled>Register now!</a>
      <!--<p>Registrations opens soon</p>-->
    </div>
  </section>

  <!-- Sponsors -->
  <section id="sponsor" class="droid ui page grid center aligned padded stackable">
      <div class="reg-now-form-cont source-bold title ten wide column">
          <h2>Sponsors and Partners</h2>
      </div>
      <div id="image_grid">
        {% for sponsor in site.data.sponsors %}
          <a href="{{ sponsor.link }}" target="_blank">
              <img src="{{ sponsor.image }}" style="width:{{ sponsor.width }}px">
          </a>
        {% endfor %}
      </div>
  </section>

  <!-- Schedule
  <section id="schedule" class="droid ui page grid center aligned padded stackable" style="background-color: #00417F">
    <div class="reg-now-form-cont source-bold title ten wide column">
      <h2>Schedule</h2>
      <br>
      <table class="ui celled padded table" style="color: white; text-align: center;">
          <tbody>
            {% for day in site.data.schedule %}
              <tr>
                  <td colspan="2">{{ day.day }}</td>
              </tr>
              {% for activity in day.activities %}
              <tr>
                <td>{{ activity.time }}</td>
                <td class="single line">{{ activity.event }}</td>
              </tr>
              {% endfor %}
            {% endfor %}
          </tbody>
        </table>
    </div>
  </section>
  -->

  <!-- the family -->
  <a name="team"></a>
  <section id="team" class="droid ui page grid center aligned padded">
      <div class="source-bold title twelve wide column">
        <h2 class="computer only" style="color:#07457B">Meet the jacobsHack! family</h2>
      </div>
      <div id="image_grid">
        {% for member in site.data.family %}
          <a href="mailto:{{ member.email }}">
              <div class="image_container">
                  <img src="{{ member.image }}">
                  <div>
                      <span>{{ member.name }}<br>{{ member.job }}</span>
                  </div>
              </div>
          </a>
        {% endfor %}
      </div>
  </section>


  <section id="footer">

    <!-- we want to show the footer -->
    <div class="jacobshack-map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOeZZgvr-83WbdhKvBdtBzAzS1zpNUWp0&callback=mapInit" async defer></script>


    <!-- Credits and Source Code -->
    <div id="color-bars">
      <div id="color-bar2">&nbsp;</div>
      <div id="color-bar2" style="display:flex; justify-content:center; align-items:center; color:white"><a href="https://github.com/jacobs-hack/static-page" target="_blank" style="color:white">Source</a>. Based on&nbsp;<a href="https://github.com/techx/hackmit-splash" target="_blank" style="color:white">HackMIT splash page</a></div>
      <div id="color-bar2">&nbsp;</div>
    </div>

  </section>
  {% include assets_ga.html %}
</body>
</html>
