<!-- font and our own css -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic,700italic%7CSource+Code+Pro:400,500%7CDroid+Sans:400,700" rel="stylesheet" type="text/css">
<link href="assets/css/main.css" rel="stylesheet" type="text/css">

<!-- jQuery -->
<script src="assets/libs/jquery/jquery-3.2.1.min.js"></script>

<!-- fonts and the JavaScript -->
<script src="assets/js/main.js"></script>

<!-- Semantic UI -->
<link href="assets/libs/semantic-ui/css/semantic.min.css" rel="stylesheet" type="text/css">
<script src="assets/libs/semantic-ui/javascript/semantic.min.js"></script>